*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --highlight: #004d7a;
  --background: #181818;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--background);
  height: fit-content;
}

/* min height set to full viewport height so page footer displays correctly */
.wrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(0, 0%, 84%);
  font-size: 2rem;
  text-shadow: 12px 12px 3px rgba(255, 255, 255, 0.044);
}

/* styling for main card */
.card {
  position: relative;
  background-color: hsl(0, 0%, 12%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(208, 55%, 86%);
  font-size: 18px;
  /* using the min function for responsive behaviour, will stay at 90% of its container but never go more than 800px */
  width: min(90%, 800px);
  margin: 2rem auto;
  margin-top: 0;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--highlight);
  height: 10px;
}

.card-header {
  position: relative;
}

/* 'copy to clipboard' button */
.card-header button {
  position: absolute;
  bottom: -3.2rem;
  right: 0.2rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  transition: all 150ms;
}

.card-header button:hover {
  background-color: #00000012;
}

.card-header button:focus {
  outline: dashed 1px rgba(0, 0, 0, 0.14);
}

.card-header button:active {
  background-color: #c0c7cf;
}

.card-header button img {
  width: 30px;
}

/* provide visual feedback that the button worked with a class change of 'copied' */
.card-header button.copied::after {
  content: "copied!";
  position: absolute;
  top: -1rem;
  left: 0;
  color: rgba(0, 0, 0, 0.568);
}

.hide {
  display: none;
}

.card-body {
  min-height: 100px;
  font-family: monospace;
  text-align: center;
  font-size: 1.4rem;
  color: rgba(255, 255, 255, 0);
  background-color: rgb(199, 199, 199);
  word-wrap: break-word;
  hyphens: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 1rem 3rem;
}

.card-body span {
  width: 1rem;
}

.show {
  color: rgb(100, 94, 213);
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--highlight);
  height: 10px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.4);
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

footer {
  color: white;
  text-align: center;
  background-color: rgb(15, 15, 15);
  margin-top: auto;
  width: 100%;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
